<?xml version="1.0" ?>
<launch>

	<!-- Set Gazebo model path to include our custom models -->
	<env name="GAZEBO_MODEL_PATH" value="$(find livox_laser_simulation)/models:$(optenv GAZEBO_MODEL_PATH)" />

	<!-- This is where we select the model file for the UAV-->
	<arg name="UAV_model" value="$(find livox_laser_simulation)/models/sensors_only/model.sdf" />
	<!-- Set to true for moving lidar, false for still lidar -->
	<arg name="moving_lidar" default="true" />

	<!-- This is where we set the initial position of the UAV-->
	<arg name="x" value="0" />
  	<arg name="y" value="0" />
  	<arg name="z" value="0" />

	<!-- This is where we select the world file-->
	<arg name="world" default="$(find livox_laser_simulation)/worlds/object_test.world" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="verbose" value="true"/>
	</include>

	<!-- This node launches rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find livox_laser_simulation)/rviz/test_pattern.rviz" />

	<!-- spawn the sensor model -->
	<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-file $(arg UAV_model) -x $(arg x) -y $(arg y) -z $(arg z) -sdf -model iris_demo " />

	<!-- Oscillate sensor model back and forth along X (only when moving_lidar is true) -->
	<node name="oscillate_model" pkg="livox_laser_simulation" type="oscillate_model.py" output="screen"
		if="$(arg moving_lidar)">
		<param name="x_min" value="-1.0" />
		<param name="x_max" value="1.0" />
		<param name="period" value="6.0" />
	</node>

	<!-- Static odom -> base_link TF for still lidar (identity, no motion) -->
	<node name="static_odom_tf" pkg="tf2_ros" type="static_transform_publisher"
		args="0 0 0 0 0 0 odom base_link"
		unless="$(arg moving_lidar)" />

	<!-- Object detection node -->
	<node name="livox_object_detector" pkg="livox_laser_simulation" type="object_detection.py" output="screen">
		<param name="min_points" value="50" />
		<param name="dbscan_eps" value="0.3" />
		<param name="dbscan_min_samples" value="10" />
		<!-- Person detection parameters -->
		<param name="person_min_height" value="1.30" />
		<param name="person_max_width" value="0.80" />
		<param name="person_min_points" value="30" />
		<param name="person_eps" value="0.35" />
	</node>

</launch>
